@charset "UTF-8";
@font-face {
  font-family: 'fontello-icons';
  src: url("../fonts/fontello-icons.eot?46943407");
  src: url("../fonts/fontello-icons.eot?46943407#iefix") format("embedded-opentype"), url("../fonts/fontello-icons.woff?46943407") format("woff"), url("../fonts/fontello-icons.ttf?46943407") format("truetype"), url("../fonts/fontello-icons.svg?46943407#fontello-icons") format("svg");
  font-weight: normal;
  font-style: normal; }

html,
button,
input,
select,
textarea {
  font-family: "Roboto Condensed", Helvetica, Arial, sans-serif; }

body {
  font-family: "Crimson Text", Georgia, serif;
  line-height: 1.4; }

a {
  color: #AF1AC9; }

a:hover {
  color: #D329A7; }

hr {
  border: 0;
  border-top: 2px dotted #DDC2DD; }

menu, ol, ul {
  padding: 0px;
  margin: 0; }

li {
  margin-bottom: 1rem;
  font-size: 0.75rem; }

h1, h2, h3, h4, h5, h6 {
  font-family: "Roboto Condensed", Helvetica, Arial, sans-serif;
  color: #222;
  font-weight: 300; }

img {
  padding-top: 1rem; }

p {
  line-height: 1.7em;
  font-size: 1.25rem; }

header {
  background: #222 url("../images/LmwC.png") no-repeat center right;
  background-size: 25%;
  padding: 0px;
  border-width: 2px 0 5px;
  border-style: solid;
  border-color: #AF1AC9; }

h1 {
  color: #DDD;
  padding: 0.75em 0 0;
  margin: 0 0 1rem;
  font-size: 2.25rem;
  font-weight: 300;
  line-height: 2.4rem; }

.subhead {
  font-size: 1.25rem;
  font-weight: 400;
  display: block;
  color: #999;
  line-height: 1.25em;
  margin: 1rem 0; }

h2 {
  margin-bottom: 0.25rem; }

h4 {
  font-size: 1.75rem; }

h3 {
  font-size: 1.25rem;
  margin-bottom: 0;
  font-weight: 600; }

.header-group {
  width: 90%;
  max-width: 850px;
  margin: 0 auto; }

a.resume-link {
  font-family: "Crimson Text", Georgia, serif;
  font-weight: 400;
  position: absolute;
  font-weight: 300; }

.connectList {
  text-align: center;
  /* '' */
  /* '' */
  /* '' */
  /* '' */
  /* '' */
  /* '' */
  /* '' */
  /* '' */
  /* '' */
  /* '' */ }
  .connectList .connectItem {
    margin: 0 1px 10px 0;
    display: inline-block;
    list-style: none; }
  .connectList .icon {
    font-size: 1.25rem;
    opacity: 0.75;
    transition: all 200ms ease-in-out;
    position: relative; }
    .connectList .icon:hover {
      opacity: 1;
      transition: all 200ms ease-in-out; }
  .connectList [class^="icon-"]:before, .connectList [class*=" icon-"]:before {
    font-family: "fontello-icons";
    font-style: normal;
    font-weight: normal;
    speak: none;
    display: inline-block;
    text-decoration: inherit;
    width: 1em;
    margin-right: .2em;
    text-align: center;
    font-variant: normal;
    text-transform: none;
    line-height: 1em;
    margin-left: .2em; }
  .connectList .icon-down-open-mini:before {
    content: '\e800'; }
  .connectList .icon-up-open-mini:before {
    content: '\e801'; }
  .connectList .icon-github:before {
    content: '\e802'; }
  .connectList .icon-linkedin:before {
    content: '\e803'; }
  .connectList .icon-tumblr:before {
    content: '\e804'; }
  .connectList .icon-gplus:before {
    content: '\e805'; }
  .connectList .icon-twitter:before {
    content: '\e806'; }
  .connectList .icon-flickr:before {
    content: '\e807'; }
  .connectList .icon-spotify:before {
    content: '\e808'; }
  .connectList .icon-mail:before {
    content: '\e809'; }

.column {
  width: 90%;
  margin: 0px auto;
  overflow: hidden; }
  .column .dividers {
    width: auto;
    font-size: 1.75rem;
    font-weight: 300;
    color: #f69cf6;
    text-align: center;
    margin: 1rem auto;
    clear: both; }
  .column ul {
    width: 85%;
    margin: 1.5rem auto; }
  .column.header-group ul {
    margin: 0.5rem auto; }

section .goal {
  text-transform: uppercase;
  font-family: "Roboto Condensed", Helvetica, Arial, sans-serif;
  font-size: 1rem;
  font-weight: 600;
  display: block; }

section .sub-item {
  margin-left: 30px; }

section .expanded {
  height: auto;
  overflow: hidden; }

section .label-container {
  background-color: darkmagenta;
  padding: 10px 0;
  margin: 30px 0 15px;
  width: 100%; }
  section .label-container .section-label {
    width: 90%;
    max-width: 700px;
    margin: 0 auto;
    font-weight: 400;
    font-size: 1.75rem;
    color: #fff; }

section h2 {
  margin: 1.25em 0 0.25em;
  font-size: 1rem;
  text-transform: uppercase;
  font-weight: 700; }

section .job-title {
  margin-bottom: 1.75rem; }

section h4 {
  color: darkmagenta;
  font-weight: 300;
  margin: 0 0 1rem;
  font-size: 1.75rem; }

section .section-header {
  font-size: 1.75rem;
  font-weight: 300; }

section figure {
  width: 100%;
  padding-bottom: 1rem;
  margin: 0 auto 2rem; }
  section figure figcaption {
    padding: 10px 15px;
    color: #666;
    font-size: 0.8rem; }
  section figure img {
    width: 100%;
    border: 1px solid #DDD;
    padding: 0.5rem; }

section .about figure {
  border: none; }

aside .intro {
  font-size: 1.25rem;
  margin: 0px auto;
  padding: 15px 0px; }
  aside .intro .success {
    padding: 0 40px; }

.icon-up-open-mini:before,
.icon-down-open-mini:before {
  display: inline-block;
  font-family: "entypo-typos";
  content: "";
  background-color: light-grey; }

footer {
  width: 100%;
  background-color: #222;
  padding: 1em;
  color: #EEE;
  text-align: center; }
  footer .elevator-button {
    cursor: pointer; }
  footer .going-up {
    transition: all 300ms ease-in-out;
    top: 0;
    position: relative;
    text-transform: uppercase;
    font-size: 0.75em;
    margin-left: 15px;
    font-weight: 400; }
  footer:hover .going-up {
    top: -1rem;
    color: mediumvioletred; }

@media all and (min-width: 601px) {
  .column {
    max-width: 650px;
    padding: 0; }
  p {
    clear: both; }
    .food-front p {
      clear: none; }
  .header-group {
    width: 90%; }
    .header-group h1 {
      text-align: left;
      margin-bottom: 0.5rem;
      padding: 0.5em 0 0;
      font-size: 2.5em; }
    .header-group .subhead {
      text-align: left; }
    .header-group .connectList {
      text-align: right; }
  section h4.project-name {
    margin: 0; }
  section figure {
    width: 48%;
    float: left;
    margin-right: 3%; }
  section .food-front .samples figure {
    float: none;
    margin: 0 auto;
    width: 90%; }
  section.about figure {
    width: 100%;
    max-width: 580px;
    margin: 0 auto; }
  section .samples {
    clear: both;
    min-height: 280px; }
    section .samples figure {
      margin-left: 0; }
      section .samples figure:nth-of-type(2n+2) {
        float: right;
        margin-right: 0; }
  section .column .dividers {
    font-size: 1.75rem;
    margin: 1.25rem auto 0; } }

@media all and (min-width: 768px) {
  .header-group h1 {
    font-size: 3rem; } }

@media all and (min-width: 851px) {
  .column {
    width: 80%;
    padding: 20px 0px; } }

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

a {
  text-decoration: none; }

a:focus {
  outline: none; }

body {
  padding-left: 0;
  padding-right: 0;
  padding-bottom: 0;
  margin: 0;
  -webkit-font-smoothing: antialiased; }

i {
  font-style: normal; }

main video, main object, main embed {
  max-width: 100%;
  height: auto; }

img {
  max-width: none;
  display: inline-block;
  vertical-align: middle; }

textarea {
  height: auto; }

nav ul, nav menu, nav ol {
  padding: 0;
  margin: 0; }

iframe {
  border: none; }

figure {
  margin: 0; }

/*
 * A better looking default horizontal rule
 */
hr {
  display: block;
  height: 1px;
  margin: 1em 0;
  padding: 0; }

/*
 * Remove the gap between images and the bottom of their containers: h5bp.com/i/440
 */
img {
  vertical-align: middle; }

/*
 * Remove default fieldset styles.
 */
fieldset {
  border: 0;
  margin: 0;
  padding: 0; }

/*
 * Allow only vertical resizing of textareas.
 */
textarea {
  resize: vertical; }

/* ==========================================================================
   Chrome Frame prompt
   ========================================================================== */
.chromeframe {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0; }

/* ==========================================================================
   Helper classes
   ========================================================================== */
/*
 * Image replacement
 */
.ir {
  background-color: transparent;
  border: 0;
  overflow: hidden;
  /* IE 6/7 fallback */
  *text-indent: -9999px; }

.ir:before {
  content: "";
  display: block;
  width: 0;
  height: 150%; }

/*
 * Hide from both screenreaders and browsers: h5bp.com/u
 */
.hidden {
  display: none !important;
  visibility: hidden; }

/*
 * Hide only visually, but have it available for screenreaders: h5bp.com/v
 */
.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px; }

/*
 * Extends the .visuallyhidden class to allow the element to be focusable
 * when navigated to via the keyboard: h5bp.com/p
 */
.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto; }

/*
 * Hide visually and from screenreaders, but maintain layout
 */
.invisible {
  visibility: hidden; }

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */
.clearfix:before,
.clearfix:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */ }

.clearfix:after {
  clear: both; }

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */
@media only screen and (min-width: 35em) {
  /* Style adjustments for viewports that meet the condition */ }

@media print, (-o-min-device-pixel-ratio: 5 / 4), (-webkit-min-device-pixel-ratio: 1.25), (min-resolution: 120dpi) {
  /* Style adjustments for high resolution devices */ }

/* ==========================================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */
@media print {
  * {
    background: transparent !important;
    color: #000 !important;
    /* Black prints faster: h5bp.com/s */
    box-shadow: none !important;
    text-shadow: none !important; }
  a,
  a:visited {
    text-decoration: underline; }
  a[href]:after {
    content: " (" attr(href) ")"; }
  abbr[title]:after {
    content: " (" attr(title) ")"; }
  /*
   * Don't show links for images, or javascript/internal links
   */
  .ir a:after,
  a[href^="javascript:"]:after,
  a[href^="#"]:after {
    content: ""; }
  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid; }
  thead {
    display: table-header-group;
    /* h5bp.com/t */ }
  tr,
  img {
    page-break-inside: avoid; }
  img {
    max-width: 100% !important; }
  @page {
    margin: 0.5cm; }
  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3; }
  h2,
  h3 {
    page-break-after: avoid; } }

/* Welcome to Compass. Use this file to define print styles.
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/print.css" media="print" rel="stylesheet" type="text/css" /> */
@font-face {
  font-family: 'fontello-icons';
  src: url("../fonts/fontello-icons.eot?46943407");
  src: url("../fonts/fontello-icons.eot?46943407#iefix") format("embedded-opentype"), url("../fonts/fontello-icons.woff?46943407") format("woff"), url("../fonts/fontello-icons.ttf?46943407") format("truetype"), url("../fonts/fontello-icons.svg?46943407#fontello-icons") format("svg");
  font-weight: normal;
  font-style: normal; }

@media print {
  @page {
    margin: 3cm 2cm; }
  p {
    orphans: 3; }
  article {
    widows: 2; }
  html,
  button,
  input,
  select,
  textarea {
    color: #222;
    font-family: Lato, Helvetica, Arial, sans-serif; }
  body {
    margin: 30px auto;
    max-width: 800px; }
  .column,
  aside,
  aside .intro,
  section,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  header,
  .header-group {
    margin: 0;
    padding: 0; }
  h1, h2, h3, h4, h5, h6 {
    font-weight: 300;
    color: #999; }
  .header-group h1 {
    color: #999;
    font-size: 1.75rem;
    font-weight: 300;
    padding: 0; }
    .header-group h1 .subhead {
      font-size: 0.8rem;
      font-weight: 300;
      display: block;
      text-transform: uppercase;
      color: #999; }
  h3 {
    font-size: 1.25rem;
    border-bottom: 1px solid darkmagenta; }
  h5 {
    font-weight: 600;
    text-transform: uppercase; }
  section p,
  .intro p,
  footer p {
    font-size: 0.75rem; }
  section p {
    margin: 0;
    padding: 0; }
  section h2 {
    margin: 0.25rem 0; }
  section h4 {
    font-size: 18px;
    padding-bottom: 0rem; }
  section .samples, section figure {
    display: none; }
  section .job-title {
    margin-bottom: 0.5rem; }
  section .column .dividers {
    font-size: 0.75rem;
    margin: 0 0 1rem; }
  section .column ul li {
    font-size: 0.75rem; }
  section .label-container .section-label {
    margin: 0; }
  menu, ol, ul {
    padding: 0px;
    margin: 0; }
  img {
    padding-top: 1rem; }
  header {
    border-bottom: 3pt solid darkmagenta; }
  a:link,
  a:visited {
    color: #222;
    text-decoration: none; }
  .pics, .emotional, .sidework, .family, sup {
    display: none; }
  footer .going-up {
    display: none; } }
